* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  color: var(--color-white);
  font-family: var(--font-main);
  line-height: 1.5;
  overflow-x: hidden;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: 0;
  background: none;
  cursor: pointer;
  font: inherit;
}
